@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  @apply h-full; 
  @apply bg-[#141414];
  @apply text-white; }

body {
  margin: 0; 
}

/* Custom scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2c2c2c; /* Track color */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #444; /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Thumb color on hover */
}

/* Custom scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Options: auto, thin */
  scrollbar-color: #444 #2c2c2c; /* Thumb color and track color */
}
